[user]
	name = justian-meyer
	email = meyer.justian@gmail.com
[includeIf "gitdir:~/Projects/"]
	path = ~/.gitconfig-work
[core]
	excludesfile = ~/.gitignore_global
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist-short = log --pretty=format:\"%h %C(magenta)%ad%Creset | %s%d [%an]\" --graph --date=short -n 10
	hist-all = log --pretty=format:\"%h %C(magenta)%ad%Creset | %s%d [%an]\" --graph --date=short
	type = cat-file -t
	dump = cat-file -p
[push]
	autoSetupRemote = true
[http]
	postBuffer = 1048576000
[ssh]
	postBuffer = 1048576000
